# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Java
target/
*.class
*.jar
*.war
*.ear
*.logs
*.log
.mtj.tmp/
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Maven
.mvn/
mvnw
mvnw.cmd
